@charset "UTF-8";

body{
    background-color: rgba(101, 179, 101, 0.699);
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
h1.titulo{
    text-align: center;
    background-color: green;
    color: white;
    text-shadow: 2px 1px 1px black;
}
.basico{
    color: green;
    text-shadow: 2px 1px 1px black;
}
.intermediario{
    color: yellow;
    text-shadow: 2px 1px 1px black;
}
.avancado{
    color: red;
    text-shadow: 2px 1px 1px black;
}